.filter {
  &__inner {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 180px;
    // @media screen and (max-width: 475px) {
    //   flex-direction: column;
    // }
  }
  &__checkbox-group {
    margin-left: 25px;
    display: flex;
    align-items: center;
    &:hover {
      .filter__label {
        color: #222222;
      }
    }
    @media screen and (max-width: 475px) {
      margin-left: 0;
      margin-top: 10px;
    }
  }
  &__checkbox {
  }
  &__label {
    color: #999999;
    margin-left: 5px;
    transition: color 0.3s ease-in;
    @media screen and (max-width: 475px) {
      margin-left: 0;
    }
  }

  &__vertical-line {
    width: 3px;
    min-height: 22px;
    border-left: 3px dotted #999999;
    margin-left: 45px;

    @media screen and (max-width: 475px) {
      display: none;
    }
  }
}
