header {
}

.header {
  &__inner {
    padding-top: $indent-md;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    @media screen and (max-width: 490px) {
      flex-direction: column;
      align-items: center;
      min-height: 120px;
    }
  }
}
