.nav {
  width: 420px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__item {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    font-family: Roboto;
    color: inherit;
  }
  &_pink {
    color: $pink-color;
  }
  &_blue {
    color: $blue-color;
  }
}
