@import "./vars";
@import "./mixins";

// -------------- INCLUDE BLOCKS STYLES --------------------------
@import "./blocks/header";
@import "./blocks/nav";
@import "./blocks/footer";
@import "./blocks/filter";
@import "./blocks/teacherCards";
@import "./blocks/statisticsTable";
@import "./blocks/pagination";
@import "./blocks/slider";
@import "./blocks/popup";
@import "./blocks/addTeacherForm";

html {
  font-size: 15px;
  @media screen and (max-width: 620px) {
    font-size: 13px;
  }
}
body {
  color: $main-font-color;
  text-align: start;
  background-color: #fcfcfc;
  font-family: Roboto;
}

.wrapper {
  max-width: 1200px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Параметры тени */

  @media screen and (max-width: 800px) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @media screen and (max-width: 550px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

//--------------------------------STYLES FOR LOGO------------------------------------------
.logo {
  &__link {
    text-decoration: none;
    color: #fafafa;
    font-size: 2.6rem;
    font-family: "Times New Roman", Times, serif;
    text-shadow: black 1px 1px 0, #f86d5c -1px -1px 0, #f86d5c -1px 1px 0,
      black 1px -1px 0;
    font-weight: 700;
    letter-spacing: 2px;
    transition: text-shadow 0.15s ease-in-out;
    &:hover {
      text-shadow: black 1px 1px 0, #f86d5c -2px -2px 0, #f86d5c -2px 2px 0,
        black 2px -2px 0;
    }
  }
}
//--------------------------------/STYLES FOR LOGO END------------------------------------------

//--------------------------------STYLES FOR SEARCH GROUP------------------------------------------
.search-group {
  width: 19.3rem;
  &__inner {
    @extend %flex-row;
  }
}
//--------------------------------/STYLES FOR SEARCH GROUP END------------------------------------------

//--------------------------------STYLES FOR BTN------------------------------------------
.btn {
  white-space: nowrap;
  &_outline {
    padding: 0.6rem 1.3rem;
    background-color: transparent;
    outline: none;
    border: 1px solid;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
    &_red {
      border-color: #f75c49;
      color: #f75c49;
    }

    &:active {
      outline: none;
    }

    &:focus {
      background-color: #f75c49;
      color: white;
    }

    &:hover {
      background-color: #f75c49;
      color: white;
    }
  }

  &_sm {
    font-size: 0.8rem;
  }
  &_md {
    font-size: 1.3rem;
  }
  &_lg {
    font-size: 1.6rem;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
//--------------------------------/STYLES FOR BTN END------------------------------------------

//--------------------------------STYLES FOR INPUT------------------------------------------
.input {
  outline: none;
  &_outline {
    &_black {
    }
  }
  &_sm {
    font-size: 0.8rem;
    padding: 0.6rem 0.8rem;
  }
}
//--------------------------------/STYLES FOR INPUT END------------------------------------------

//--------------------------------STYLES FOR NAV BLOCK------------------------------------------
.nav-block {
  margin-top: $indent-lg;

  &__inner {
    @extend %flex-row;

    @media screen and (max-width: 490px) {
      flex-direction: column;
      min-height: 75px;
    }
  }
  @media screen and (max-width: 800px) {
    margin-top: $indent-md;
  }
}
//--------------------------------/STYLES FOR NAV BLOCK END------------------------------------------

.section {
  padding-top: $indent-md;
  padding-bottom: $indent-md;
  &__styling-line-block {
    margin: 0 auto;
    max-width: 500px;
    hr {
      border-color: black;
    }
  }
  &__title {
    text-align: center;
    font-size: 2rem;
  }
  &__content {
    margin-top: $indent-md;
  }
  &-desc {
    &__inner {
    }
    &__item {
      margin-bottom: 20px;
    }
  }
}
